{% extends 'productos/index3.html' %}

    {% block content %}

            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th>Nombre Grado</th>
                        <th>Seccion</th>
                        <th>Materias</th>

                        <th>Mantenimiento</th>


                    </tr>

                </thead>
                <tbody>




                      <td>{{ grado.nombre }}</td>
                      <td>
                        <ul>
                          {% for c in grado.materia.all %}
                          <li>
                            {{ c.nombre }}
                          </li>
  {% endfor %}
                        </ul>

                      </td>

                      <td>   <a class="btn btn-secundary btn-sm" href="{% url 'editar_grado' pk=grado.pk %}">editar</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'eliminar_grado' pk=grado.pk %}">eliminar</a> </td>





                  </tr>

                </tbody>
            </table>

{% endblock %}
